section:first-of-type{
    display: flex;
    flex-direction: column;
    margin: 0 25%;

    text-align: justify;

    background: rgba(255, 255, 255, 0.25);
    color: var(--lg-text);
    border-radius: 3rem;  
    border: 1px solid rgba(255, 255, 255, 0.75);

    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    filter: url(#lensFilter) saturate(120%) brightness(1.15);
    z-index: 0;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    padding: 1% 3%;
}
section:first-of-type{
    text-align: center;
}

section:last-of-type{
    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(255, 255, 255, 0.25);
    color: var(--lg-text);
    border-radius: 3rem;  
    border: 1px solid rgba(255, 255, 255, 0.75);

    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    filter: url(#lensFilter) saturate(120%) brightness(1.15);
    z-index: 0;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    padding: 1% 3%;

    margin: 2% 25%;
}

section:last-of-type > form{
    width: 100%;
}

section:last-of-type > form > div > input{
    width: 100%;
}

section:last-of-type > form > div > textarea{
    width: 100%;
}

section:last-of-type > form > div > p{
    margin-bottom: 1%;
}

section:last-of-type > form > div > input[type="submit"]{
    margin-top: 3%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    height: 30px;
}

section:last-of-type > p {
    color: rgb(165, 0, 0);;
}






footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 2px solid rgb(107, 106, 106);
    background-color: rgb(177, 175, 175);
    margin-top: auto;
}

footer > div > h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > div > ul > li {
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
}

html, body{
    min-height: 100vh;
    margin: 0;
}