
:root { 
  --lg-bg-color: rgba(255, 255, 255, 0.25);
  --lg-highlight: rgba(255, 255, 255, 0.75);
  --lg-text: #ffffff;
  --lg-red: #fb4268;
  --lg-grey: #444739;
  --purple: rgb(159, 71, 170);
}

body {
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction:column;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 10%;

         
    min-height: 5vh;   
    background: rgba(255, 255, 255, 0.25);

    color: var(--lg-text);

    border-radius: 3rem;  

    border: 1px solid rgba(255, 255, 255, 0.75);



    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(4px);

    filter: url(#lensFilter) saturate(120%) brightness(1.15);

    z-index: 0;

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
} 
nav:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
} 
nav img{
    border-radius: 7px;
    height: 15%; 
    width: 20%; 
} 

nav a{
    color: black;
    text-decoration: none;
    padding: 0 5px;
    transition: all 0.3s ease-in-out;

}
nav a:hover{
transform: scale(1.2);
transition: all 0.4s ease-in-out;


}
footer {
    width: 100%; 
    border-top: solid 2px rgb(87, 85, 85);
    background-color: rgb(182, 176, 176);
    color: rgb(59, 58, 56);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
footer div:first-child{
    padding-left: 70px;
}
footer div:last-child{
    padding-right: 70px;
}
 footer h4{
    margin-top: 0;
 }
 footer a{
    text-decoration: none;
    color: black;
}
 
 footer ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.agences {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.agences h2 {
    text-align: center;
    font-size: 26pt;
}

.agences ul {
    padding: 0;
}

.agences li {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.agence-unselected { /* lien agence */
    text-decoration: none;
    font-size: 24pt;
    font-weight: bold;
    color: black;
}

.agence-selected {
    color: var(--purple);
    font-size: 24pt;
    font-weight: bold;
}

.agences-map-infos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.agences-map-infos iframe {
    flex-grow: 1;
    width: 350px;
    height: 350px;
    flex-shrink: 3;
    border-radius: 50px;
    margin: 20px;
}

.agences-map-infos div a { /* lien telephone */
    text-decoration: none;
    margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

h3 {
    text-decoration: underline;
}

.glass {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 3rem;  
    border: 1px solid rgba(255, 255, 255, 0.75);
    
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    filter: url(#lensFilter) saturate(120%) brightness(1.15);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.agences-infos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    flex-grow: 2;
}

.agences-infos a {
    text-decoration: none;
    color: black;
}

.agences-infos a:hover {
    color: var(--purple);
    text-decoration: underline;
    cursor: pointer;
}

.newsletter-box {
    background-color: var(--lg-bg-color);
    font-family: 'Questrial', sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-around; 
    padding: 50px;
    flex-wrap: wra}


.newsletter-left {
    width: 500px; 
    display: flex;
    flex-direction: column;
}

.newsletter-title {
    background-color: var(--lg-grey);
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 6px 12px;
    width: fit-content;
    border-radius: 4px 4px 0 0; 
    line-height: 1;
}

.newslette-form {
    display: flex;
    width: 100%; 
    height: 35px; 
}

.newslette-form input {
    flex-grow: 1; 
    background-color:#f0eded; 
    border: none;
    border-radius: 0 0 0 4px; 
    padding-left: 40px;
    font-size: 14px;
    color: #333;


    background-image:url("email.png") ;
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 16px;
}

.newslette-form input::placeholder {
    color: #aeb5bc;
}

.newslette-form button {
    background-color: var(--lg-grey);
    color: white;
    border: none;
    padding: 0 25px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0 4px 4px 0; 
}


.newsletter-text {
    font-size: 14px;
    color: #3d4e5f;
    margin-top: 8px;

}

.newsletter-right {
    background: linear-gradient(to bottom right, #f0eded, #ffffff);
    color: #3d4e5f;
    padding: 30px 60px;
    border-radius: 25px;
    font-size: 21px;
    font-weight: 400;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    white-space: nowrap;
}

.secteurs {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.secteurs-slider{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.secteurs-slider div a {
    padding: 1px 8px;
    border-radius: 30px;
    background-color: rgb(200, 200, 200);
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.secteurs-slider h2 {
    margin: auto 10px;
}

.secteurs-list {
    display: flex;
    justify-content: space-between;
    height: 18vh; /* Necessaire pr le placement en absolu des divs enfants */
}

.secteurs-list>div {
    position: absolute;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.secteur-description {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

#secteur-description {
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 980px) {
    .secteurs-list {
        height: 23vh;
    }
    #secteur-description {
        width: 90%;
    }
    
}

@media screen and (max-width: 700px) {
    .secteurs-list {
        height: 28vh;
    }
    #secteur-description {
        width: 100%;
    }
}