:root { 
  --lg-bg-color: rgba(255, 255, 255, 0.25);
  --lg-highlight: rgba(255, 255, 255, 0.75);
  --lg-text: #ffffff;
  --lg-red: #fb4268;
  --lg-grey: #444739;
}


.newsletter-box {
    background-color: var(--lg-bg-color);
    font-family: 'Questrial', sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-around; 
    padding: 50px;
    flex-wrap: wra}


.newsletter-left {
    width: 500px; 
    display: flex;
    flex-direction: column;
}

.newsletter-title {
    background-color: var(--lg-grey);
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 6px 12px;
    width: fit-content;
    border-radius: 4px 4px 0 0; 
    line-height: 1;
}

.newslette-form {
    display: flex;
    width: 100%; 
    height: 35px; 
}

.newslette-form input {
    flex-grow: 1; 
    background-color:#f0eded; 
    border: none;
    border-radius: 0 0 0 4px; 
    padding-left: 40px;
    font-size: 14px;
    color: #333;


    background-image:url("email.png") ;
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 16px;
}

.newslette-form input::placeholder {
    color: #aeb5bc;
}

.newslette-form button {
    background-color: var(--lg-grey);
    color: white;
    border: none;
    padding: 0 25px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0 4px 4px 0; 
}


.newsletter-text {
    font-size: 14px;
    color: #3d4e5f;
    margin-top: 8px;

}

.newsletter-right {
    background: linear-gradient(to bottom right, #f0eded, #ffffff);
    color: #3d4e5f;
    padding: 30px 60px;
    border-radius: 25px;
    font-size: 21px;
    font-weight: 400;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    white-space: nowrap;
}