body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    width: 100%; 
    border-top: solid 2px rgb(87, 85, 85);
    background-color: rgb(182, 176, 176);
    color: rgb(59, 58, 56);
    padding: 10px 0; 
}

footer div {
    height : 100%;
    display: flex;
    justify-content: space-between;
}
footer div:first-child{
    padding-left: 70px;
}
footer div:last-child{
    padding-right: 70px;
}
footer section{
    position: absolute;
    bottom: 2px;
    right: 5px;
}
footer h4{
    font-style: italic;
    font: bold 16px Arial, sans-serif;
}
footer a{
    text-decoration: none;
    color: inherit;
}
footer div nav ul{
    list-style-type: none;
    text-align: center;
    padding: 0%;
}
