:root { 
  --lg-bg-color: rgba(255, 255, 255, 0.25);
  --lg-highlight: rgba(255, 255, 255, 0.75);
  --lg-text: #ffffff;
  --lg-red: #fb4268;
  --lg-grey: #444739;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;

    
    width: fit-content;   
    min-width: 20vw;      
    min-height: 5vh;   

    background: rgba(255, 255, 255, 0.25);
    color: var(--lg-text);
    border-radius: 3rem;  
    border: 1px solid rgba(255, 255, 255, 0.75);
    
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    filter: url(#lensFilter) saturate(120%) brightness(1.15);
    z-index: 0;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}
nav:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}
nav img{
    border-radius: 7px;
    height: 15%; 
    width: 20%; 
}

nav a{
    color: var(--lg-text);
    text-decoration: none;
    padding: 0 5px;
    transition: all 0.3s ease-in-out;

}
 nav a:hover{
transform: scale(1.2);
transition: all 0.4s ease-in-out;


}
